<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>
    EDD Serviços - Checkout
  </title>

  <!-- Bootstrap core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="css/modern-business.css" rel="stylesheet">
  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

</head>

<body>
    <!-- Navigation -->
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-eddred fixed-top">
        <div class="container">
        <a class="navbar-brand" href="index.html">
            <strong>EDD SERVIÇOS</strong>
        </a>

        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <p class="pull-right navbar-brand" style="margin-top:10px">
                    <strong>O bem estar é seu, o controlo é nosso!</strong>
                </p>
            </li>
            </ul>
        </div>
        </div>
    </nav>

    <ol class="breadcrumb" style="margin-top:20px;">
        <li class="breadcrumb-item">
            <a href="index2.html">Página Inicial</a>
        </li>
        <li class="breadcrumb-item">
            <a href="services.html">Serviços</a>
        </li>
        <li class="breadcrumb-item active">Checkout</li>
    </ol>
    
    <!-- Page Content -->
    <div class="container" ng-controller="CheckoutCtrl">

    <!-- Page Heading/Breadcrumbs -->
    <h1 class="mt-4 mb-3">
        <span class="fa fa-shopping-cart"></span>
        Solicita&ccedil;&atilde;o de Serviço
    </h1>

    <hr/>

    <!-- Content Row -->
    <div class="row" style="margin-top:43px;">
        <!-- Map Column -->
        <div class="col-md-8 mb-4">
            <h3>
                <!-- <span class="fa fa-cube"></span> -->
                Produto
            </h3>
    
            <div class="list-group">
                <a href="#" class="list-group-item" style="decoration:none">
                    <img ng-src="{{product.img}}" width="80px" class="pull-left" />
                    <h4 class="list-group-item-heading" style="font-weight:bold;color:#666">{{product.title}}</h4>
                    <p class="list-group-item-text" style="color:#ccc">Serviço</p>
                </a>
            </div>    
        </div>

        <div class="col-md-4" style="margin-top:25">
            <div style="">
                <h3>Contacto</h3>
                <p>
                    <strong>Empresa de Desinfesta&ccedil;&atilde;o</strong>
                    <br/>
                    Cidadela-Praia
                    <br>SANTIAGO - Cabo Verde
                    <br>
                </p>
                <p>
                    <span class="fa fa-phone"></span>
                    <abbr title="Telefone">
                        <strong>Telefone</strong>
                    </abbr>:
                    <a href="">(+238) 9970886</a>
                    <br/>
                    <abbr title="Email">
                        <span class="fa fa-envelope"></span>
                        <strong>Email</strong>
                    </abbr>:
                    <a href="mailto:comercial@eddservicos.com">comercial@eddservicos.com
                    </a>
                </p>
                <p>
                    <abbr title="Hours">Hor&aacute;rio de funcionamento</abbr>: Segunda - Sexta: 9:00 AM to 5:00 PM
                </p>
            </div>        
        </div>

        <!-- Contact Details Column -->
        <div class="col-lg-4 mb-4">
        </div>
    </div>
    <!-- /.row -->

    <!-- Contact Form -->
    <!-- In order to set the email address and subject line for the contact form go to the bin/contact_me.php file. -->
    <div class="row">
        <div class="col-lg-8 mb-4">
            <div class="well" style="display:table;background-color: #f4f4f4;border-radius:4px;padding:15px;">
                <h4 style="margin-bottom:25px;">
                    Preencha o formul&aacute;rio para fazer sua solicita&ccedil;&atilde;o<br/>
                    <small class="text-danger" style="font-size:13px">*Todos campos s&atilde;o obrigat&oacute;rios.</small>
                </h4>

                <form name="productForm" novalidate
                    ng-submit="submit(productForm)">
                    <div class="control-group form-group">
                    <div class="controls">
                        <label><strong>Nome</strong></label>
                        <input type="text" class="form-control" 
                            id="name" required 
                            data-validation-required-message="Nome &eacute; obrigat&oacute;rio." 
                            ng-model="reqObj.name"
                        >
                        <p class="help-block"></p>
                    </div>
                    </div>
                    <div class="control-group form-group">
                    <div class="controls">
                        <label><strong>Telefone</strong></label>
                        <input type="tel" class="form-control" id="phone" required 
                            data-validation-required-message="Telefone &eacute; obrigat&oacute;rio."
                            ng-model="reqObj.phone"
                        >
                    </div>
                    </div>
                    <div class="control-group form-group">
                    <div class="controls">
                        <label><strong>Email</strong></label>
                        <input type="email" class="form-control" id="email" required 
                            data-validation-required-message="Email &eacute; obrigat&oacute;rio"
                            ng-model="reqObj.email">
                    </div>
                    </div>
                    <div class="control-group form-group">
                    <div class="controls">
                        <label><strong>Mensagem</strong></label>
                        <textarea rows="8" cols="100" class="form-control" id="message" required 
                            data-validation-required-message="Mensagem &eacute; obrigat&oacute;rio" 
                            maxlength="999" 
                            style="resize:none"
                            ng-model="reqObj.msg"></textarea>
                    </div>
                    </div>
                    <div id="success"></div>
                    <!-- For success/fail messages -->
                    <button type="submit" class="btn btn-success">Enviar</button>
                </form>
            </div>
        </div>
    </div>
    <!-- /.row -->
    </div>
    <!-- /.container -->

<!-- Footer -->
<footer class="py-5 bg-dark">
    <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; EDD Serviços 2019</p>
    </div>
    <!-- /.container -->
</footer>
    
<!-- Bootstrap core JavaScript -->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Contact form JavaScript -->
<!-- Do not edit these files! In order to set the email address and subject line for the contact form go to the bin/contact_me.php file. -->
<script src="js/jqBootstrapValidation.js"></script>
<script src="js/contact_me.js"></script>
<script src="js/angular.min.js"></script>
<script src="js/db.js"></script>
<script src="js/app.js"></script>

</body>
</html>
