<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>
      EDD – Serviços de desinfestação e desratização Lda.
  </title>

  <!-- Bootstrap core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="css/modern-business.css" rel="stylesheet">
  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <!-- Matomo -->
  <script type="text/javascript">
    var _paq = window._paq || [];
    /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
    _paq.push(['trackPageView']);
    _paq.push(['enableLinkTracking']);
    (function() {
      var u="//site-analytics.enterstarts.com/";
      _paq.push(['setTrackerUrl', u+'matomo.php']);
      _paq.push(['setSiteId', '2']);
      var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
      g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
    })();
  </script>
  <!-- End Matomo Code -->

</head>

<body ng-controller="ContactCtrl">

  <!-- Navigation -->
  <!-- Navigation -->
  <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-eddred fixed-top">
        <div class="container">
          <a class="navbar-brand" href="index.html">
            <img src="./image/logo-white.png" width="75" />
          </a>
          <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarResponsive">
              <ul class="navbar-nav ml-auto">
                  <li class="nav-item">
                    <a class="nav-link" href="about-us.html">Quem Somos</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="services.html">Servi&ccedil;os</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="mission.html">Miss&atilde;o</a>
                  </li>
                  <li class="nav-item active">
                    <a class="nav-link" href="contact.html">Contacto</a>
                  </li>
              </ul>
          </div>
        </div>
      </nav>
      
    <ol class="breadcrumb" style="margin-top:7px;">
      <li class="breadcrumb-item">
        <a href="index.html">P&aacute;gina Inicial</a>
      </li>
      <li class="breadcrumb-item">
        <a href="">
            Contacto
        </a>
      </li>
    </ol>
  
    <!-- Page Content -->
    <div class="container">
    <!-- Features Section -->
        <div class="row" style="margin-top: 25px;">
            <div class="col-lg-6">
                <h2>Porque ser um cliente EDD</h2>
                <hr>
                <p>
                    O nosso compromisso é a satisfação plena dos nossos clientes. Estudamos,
                    conhecemos   e   dedicamos   ao   que   fazemos,   proporcionando   aos   nossos
                    clientes a garantia dos serviços prestados.         
                </p>

                <p>
                    O nosso objetivo é compreender e solucionar problemas específicos de
                    pragas urbanas nocivas. Para isso, dispomos de programas eficazes de
                    controlo, combate e prevenção de pragas urbanas, garantindo resultados
                    plenamente satisfatórios. 
                </p>

                <p>
                    A aposta na antecipação de possíveis problemas é
                    uma das nossas características marcantes, e por isso, acreditamos que a
                    nossa filosofia de trabalho vai de encontro ao perfil das suas necessidades.
                </p>
            </div>
            <div class="col-lg-6 pull-right">
                <img class="img-fluid rounded pull-right" src="./image/EDD.1.png" alt="">
            </div>
        </div>
        <!-- /.row -->
      
        <div class="row" style="margin-top: 25px;">
            <div class="col-md-6 mb-5">
                <h2>Entre em contacto conosco:</h2>
                <hr>
                <div class="well" style="display:table;background-color: #f4f4f4;border-radius:4px;padding:15px;">
                    <h4 style="margin-bottom:25px;">
                        Preencha o formul&aacute;rio para entrar em contacto conosco:<br/>
                        <small class="text-danger" style="font-size:13px">*Todos campos s&atilde;o obrigat&oacute;rios.</small>
                    </h4>
    
                    <form name="contactForm" novalidate
                        ng-submit="submit(contactForm)">
    
                        <div class="alert alert-warning text-center" ng-if="loading_request">
                            <i class="fa fa-refresh fa-spin"></i>
                            Processando
                        </div>
    
                        <div class="alert alert-danger text-center" ng-if="error">
                            <i class="fa fa-times"></i>
                            <h4>A sua solicitação não pode ser processada.</h4>
                            Verifique todos os campos.
                        </div>
    
                        <div class="alert alert-success text-center" ng-if="success">
                            <i class="fa fa-check" style="font-size:50px;" ></i>
                            <br/>
                            <h3>
                                A sua mensagem foi enviada com sucesso
                            </h3>
                            Entraremos em contacto em breve.
                        </div>
    
                        <div ng-if="!is_done">
                            <div class="control-group form-group">
                                <div class="controls">
                                    <label><strong>Nome</strong></label>
                                    <input type="text" class="form-control" 
                                        id="name" required 
                                        data-validation-required-message="Nome &eacute; obrigat&oacute;rio." 
                                        ng-model="obj.name"
                                    >
                                    <p class="help-block"></p>
                                </div>
                                </div>
            
                                <div class="control-group form-group">
                                    <div class="controls">
                                        <label><strong>Telefone</strong></label>
                                        <input type="tel" class="form-control" id="phone" required 
                                            data-validation-required-message="Telefone &eacute; obrigat&oacute;rio."
                                            ng-model="obj.phone"
                                        >
                                    </div>
                                </div>
            
                                <div class="control-group form-group">
                                    <div class="controls">
                                        <label><strong>Email</strong></label>
                                        <input type="email" class="form-control" id="email" required 
                                            data-validation-required-message="Email &eacute; obrigat&oacute;rio"
                                            ng-model="obj.email">
                                    </div>
                                </div>
            
                                <div class="control-group form-group">
                                    <div class="controls">
                                        <label><strong>Mensagem</strong></label>
                                        <textarea rows="8" cols="100" class="form-control" id="message" required 
                                            data-validation-required-message="Mensagem &eacute; obrigat&oacute;rio" 
                                            maxlength="999" 
                                            style="resize:none"
                                            ng-model="obj.msg"></textarea>
                                    </div>
                                </div>                
                        </div>
    
                        <button type="submit" class="btn btn-success"
                            ng-if="!is_done"
                            ng-disabled="loading_request">
                            Enviar
                        </button>
                    </form>
                </div>
    
            </div>

            <div class="col-md-6 mb-5">
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d30843.497513607235!2d-23.519232!3d14.912716799999998!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1spt-PT!2scv!4v1564668806808!5m2!1spt-PT!2scv" 
                width="380" height="350" frameborder="0" style="border:0" allowfullscreen></iframe>

                <div style="">
                    <h3>Contacto</h3>
                    <p style="margin-bottom:2px;">
                        <strong>EDD - serviços de controlo de pragas</strong>
                        <br/>
                        <span class="fa fa-map-marker"></span>
                        Cidadela-Praia
                    </p>

                    <p>
                        <span class="fa fa-mobile"></span>
                        <abbr title="Telefone">
                            <strong></strong>
                        </abbr>
                        <a href="tel:+2389970886">(+238) 997 08 86</a>
                        <br/>
                        <span class="fa fa-phone"></span>
                        <a href="tel:+2382620412">(+238) 262 04 12</a>
                        <br/>
                        <abbr title="Email">
                            <span class="fa fa-envelope"></span>
                            <strong></strong>
                        </abbr>
                        <a href="mailto:comercial@eddservicos.com">comercial@eddservicos.com</a>
                        <br/>
                        <abbr title="Email">
                            <span class="fa fa-facebook"></span>
                            <strong></strong>
                        </abbr>
                        <a href="https://facebook.com/edddesinfestacoes">facebook.com/eddDesinfestacoes</a>
                    </p>

                    <p>
                        <abbr title="Hours">Hor&aacute;rio de funcionamento</abbr>:
                        <br />
                        Segunda - Sabado: 8:00 &aacute;s 18:00
                    </p>
                </div>

                <a class="btn btn-lg btn-eddred btn-block" href="tel:+2389970886"> 
                    <span class="fa fa-phone"></span> 
                    Ligue Agora!
                </a>
            </div>
        </div>
    </div>
    <!-- /.container -->
    
  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; EDD Serviços 2019</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="js/angular.min.js"></script>
  <script src="js/app.js"></script>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-144976163-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'UA-144976163-1');
</script>
</body>

</html>
